:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --caption-text-color: #FFFFFF;
}


/* navigation */

.navigation, .contacts {
    color: var(--title-text-color);
    text-decoration: none;
}

.navigation .navigation-link:hover,
.navigation .navigation-link:focus,
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-text-color);
}

/* .contacts {
    color: var(--main-text-color);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-text-color);
} */

/* Features */

.features .features-title {
    color: var(--title-text-color);
}

.features .features-text,
.main-text{
    color: var(--main-text-color);
}

.title, .caption-title {
    color: var(--title-text-color);
}

.caption-title {
    color: var(--caption-text-color);
    background: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
    width: 380px;
    height: 70px;
}

.features-pic:hover {
    background-color: var(--accent-text-color);
}

.caption-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.caption-dev {
    color: rgba(255, 255, 255, 0.4);
}

.caption {
    background-color: #2F303A;
}

.team-section {
    background-color: #F5F4FA;;
}